body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
}

/* ---------------------------------------- Navbar -------------------------------------- */
#img1 {
  z-index: -1;
  position: absolute;
  display: flex;
  top: 15px;
  left: 400px;
  width: 200px;
  height: 200px;
  justify-content: center;
}

nav {
  color: orangered;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

nav ul li a:hover {
  font-weight: bolder;
  color: #ad4214;
}

nav ul li a.active {
  color: orangered;
  font-weight: bolder;
}

.download-button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

/* -------------------------- Home ----------------------------------- */
h1 {
  text-transform: uppercase;
  font-weight: lighter;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

/*  ---------------------------- Features --------------------------------------*/
#img2 {
  z-index: -1;
  position: absolute;
  display: flex;
  top: 850px;
  left: 100px;
  width: 600px;
  height: 400px;
  justify-content: center;
}

.color{
  color: orangered;
}

h3{
  font-family:system-ui;
  font-size:40px;
  font-weight: 900;

}

h6{
  font-weight:800;
}


/* -------------------------------------- Advantages -------------------------------------- */

h5{
  font-weight: 700;
}
.btn{
  background-color: orangered;
  border-radius: 20px;
}
h4{
  font-weight: 600;
}

/* ------------------------------------------ Testimonial ----------------------------------------------- */
.test{
  text-align: center;
}

/* -------------------------------------------------- FAQ --------------------------------------------------- */

.box{
  background-color: orangered;
  color: white;
  padding: 10px;
  border-radius: 10px;

}
.boxx{
  background-color: white;
  color: black;
  padding: 5px;

}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p{
  color: rgb(152, 127, 127);
}

/* ---------------------------------------------- Card ------------------------------------- */
.card{
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 30px;
}
.heading{
font-size:xx-large ;
font-weight: 900;
}
#btn{
  background-color: white;
  color: black;
  align-self: center;
}
#img3{
  z-index: -1;
  position: absolute;
  display: flex;
  bottom: 80px;
  right: 50px;
  width: 600px;
  height: 400px;
  justify-content: center;
}





footer {
  
  color: black;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  .columnn {
    float: left;
    width: 20%;
  }
  
  .roww:after {
    content: "";
    display: table;
    clear: both;
  }

}